Source: gtk2-engines-xfce
Section: x11
Priority: optional
Maintainer: Martin Loschwitz <madkiss@madkiss.org>
Build-Depends: debhelper (>= 4.1.26), libatk1.0-dev, libglib2.0-dev, libgtk2.0-dev, libpango1.0-dev, autoconf, automake1.7, libtool
Standards-Version: 3.5.8

Package: gtk2-engines-xfce
Architecture: any
Depends: ${shlibs:Depends}
Suggests: xfwm4, xfce4
Description: A GTK+-2.0 theme engine for Xfce
 This package contains an XFCE engine for GTK2.0 which makes you able
 to use various GTK2.0 themes with Xfce. It also contains some ready
 engines, but you are of course free to design your own.
